@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CMU';
  src: url('../src/assets/fonts/cmu.ttf');
}

@font-face {
  font-family: 'CMU_BOLD';
  src: url('../src/assets/fonts/cmu_bold.ttf');
}

@font-face {
  font-family: 'Inter-regular';
  src: url('../src/assets/fonts/inter-regular.woff2');
}

@font-face {
  font-family: 'Inter-medium';
  src: url('../src/assets/fonts/inter-medium.woff2');
}

@font-face {
  font-family: 'Inter-semibold';
  src: url('../src/assets/fonts/inter-semibold.woff2');
}

@font-face {
  font-family: 'Inter-bold';
  src: url('../src/assets/fonts/inter-bold.woff2');
}

@font-face {
  font-family: 'Inter-extrabold';
  src: url('../src/assets/fonts/inter-extrabold.woff2');
}

@font-face {
  font-family: 'Inter-black';
  src: url('../src/assets/fonts/inter-black.woff2');
}

@layer components {
  body {
    @apply bg-[#202020];
  }

  .view-section {
    @apply border border-solid w-[36rem] h-[50.9375rem] bg-white;
  }

  .navbar nav {
    @apply cursor-pointer;
  }

  nav:hover {
    @apply text-[#4d4d4d];
  }

  .form {
    @apply grid grid-cols-[repeat(2,1fr)] mt-[6.25rem] gap-[2.25rem] text-white;
  }

  .form label {
    @apply text-[1.875rem] text-right font-Inter_regular;
  }

  .form input {
    @apply w-[16.875rem] h-[3rem] bg-[#4d4d4d] rounded-[0.625rem] text-[1.25rem] ml-[2.5rem] pl-3;
  }

  .form input::placeholder {
    @apply text-[#8C8C8C];
  }
}

/* * .container {
  border: 10px solid black;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.edit-section {
  flex: 1;
  margin-right: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.view {
  width: 40vw;
  height: calc(40vw * 1.414);
  max-width: 595px;
  max-height: 842px;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  overflow-y: auto;
  word-wrap: break-word;
}

.view h1 {
  text-align: center;
}

.personal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  word-wrap: break-word;
}

a {
  color: #000;
}

.education-section {
  margin-top: 20px;
}

.education-detail {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
  border: 0.001px solid gray;
  opacity: 50%;
  margin-block: 10px;
}

.form {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.flex {
  display: flex;
  gap: 25px;
}

.experience-detail {
  margin-block: 20px;
  display: flex;
  flex-direction: column;
}

.experience-detail div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.experience-detail ul {
  margin-left: 30px;
}

.project-detail {
  margin-bottom: 10px;
} */
