@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CMU';
  src: url('../src/assets/fonts/cmu.ttf');
}

@font-face {
  font-family: 'CMU_BOLD';
  src: url('../src/assets/fonts/cmu_bold.ttf');
}

@font-face {
  font-family: 'Nordique';
  src: url('../src/assets/fonts/Nordique.ttf');
}

@font-face {
  font-family: 'Inter-regular';
  src: url('../src/assets/fonts/inter-regular.woff2');
}

@font-face {
  font-family: 'Inter-medium';
  src: url('../src/assets/fonts/inter-medium.woff2');
}

@layer components {
  body {
    @apply bg-[#202020] mx-auto;
  }

  .wrapper {
    @apply px-[80px] max-w-[1440px] mx-auto;
  }

  main {
    @apply flex mt-[3.25rem] justify-between overflow-hidden mb-[5rem] gap-10;
  }

  .edit-section {
    @apply max-w-[37.3125rem] w-full bg-[#2E2E2E] rounded-[3.125rem] px-[2rem] py-[2.20rem] font-Inter_medium;
  }

  .view-section {
    @apply border border-solid min-w-[210px] max-w-[36rem] w-full aspect-[1/1.141] max-h-[50.9375rem] bg-white font-CMU px-8 py-4 overflow-y-auto;
  }

  .navbar {
    @apply w-full bg-[#D9D9D9] flex justify-evenly items-center flex-wrap text-[1.1rem] mx-auto rounded-[1.5rem] gap-4 px-2 py-3;
  }

  .navbar nav {
    @apply cursor-pointer m-2;
  }

  .navbar nav.active {
    @apply font-bold border-b-2 border-solid border-black;
  }

  .form {
    @apply grid grid-cols-[.6fr,1fr] mt-[3rem] gap-[2.25rem] text-white overflow-hidden p-2 items-center;
  }

  .form label {
    @apply text-[1.25rem] text-center font-Inter_regular;
  }

  .form input {
    @apply h-[3rem] w-[100%] bg-[#4d4d4d] rounded-[0.625rem] text-[1.25rem] px-3 outline-none;
  }

  .form input::placeholder {
    @apply text-[#8C8C8C];
  }

  .button-div {
    @apply col-span-2 flex justify-center mt-4;
  }

  .button-div input {
    @apply px-5 bg-[#7862F8] max-w-[200px];
  }

  .button-div input:hover {
    @apply cursor-pointer bg-[#8873FF];
  }

  .existing-data {
    @apply w-full bg-[#D9D9D9] text-[1rem] mx-auto mt-[1.5rem] rounded-[1rem] flex flex-col items-center gap-2 py-2 px-4;
  }

  .existing-data div {
    @apply w-full grid grid-cols-[1fr,0.5fr] justify-center items-center;
  }

  .existing-data div p {
    @apply text-center;
  }

  .existing-data div button {
    @apply text-red-700;
  }

  .form span {
    @apply flex items-center;
  }

  .form span .input-with-btn {
    @apply w-[80%] rounded-r-none;
  }

  .form span button {
    @apply text-[2rem] w-[20%] bg-blue-500 rounded-[0.625rem] rounded-l-none;
  }

  .descriptions {
    @apply col-span-2 px-5;
  }

  .descriptions li {
    @apply max-w-full break-words;
  }

  .descriptions button {
    @apply text-red-200;
  }

  @media (width < 1350px) {
    main {
      @apply flex-col items-center gap-10;
    }
  }

  @media (width < 800px) {
    .wrapper {
      @apply px-[50px];
    }

    .navbar nav {
      @apply text-[1rem];
    }
  }

  @media (width < 600px) {
    .wrapper {
      @apply px-5;
    }

    .edit-section {
      @apply px-[1rem];
    }

    .form {
      @apply gap-x-0;
    }
  }

  @media (width < 500px) {
    .view-section {
      @apply max-w-[375px];
    }

    .form {
      @apply grid-cols-1 gap-5;
    }

    .form label {
      @apply text-left;
    }

    .button-div {
      @apply col-span-1;
    }

    .descriptions {
      @apply col-span-1;
    }
  }

  @media print {
    .view-section,
    .view-section * {
      @apply visible;
    }

    .view-section {
      @apply absolute left-5 top-0 w-[34rem] aspect-[1/1.141] h-auto m-5;
    }

    @page {
      size: A4;
    }
  }
}
