@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CMU';
  src: url('../src/assets/fonts/cmu.ttf');
}

@font-face {
  font-family: 'CMU_BOLD';
  src: url('../src/assets/fonts/cmu_bold.ttf');
}

@font-face {
  font-family: 'Inter-regular';
  src: url('../src/assets/fonts/inter-regular.woff2');
}

@font-face {
  font-family: 'Inter-medium';
  src: url('../src/assets/fonts/inter-medium.woff2');
}

@font-face {
  font-family: 'Inter-semibold';
  src: url('../src/assets/fonts/inter-semibold.woff2');
}

@font-face {
  font-family: 'Inter-bold';
  src: url('../src/assets/fonts/inter-bold.woff2');
}

@font-face {
  font-family: 'Inter-extrabold';
  src: url('../src/assets/fonts/inter-extrabold.woff2');
}

@font-face {
  font-family: 'Inter-black';
  src: url('../src/assets/fonts/inter-black.woff2');
}

@layer components {
  body {
    @apply bg-[#202020];
  }

  .view-section {
    @apply border border-solid w-[36rem] h-[50.9375rem] bg-white;
  }

  .navbar nav {
    @apply cursor-pointer;
  }

  .form {
    @apply grid grid-cols-[repeat(2,1fr)] mt-[4rem] gap-[2.25rem] text-white overflow-hidden p-2 items-center;
  }

  .form label {
    @apply text-[1.25rem] text-center font-Inter_regular;
  }

  .form input {
    @apply h-[3rem] bg-[#4d4d4d] rounded-[0.625rem] text-[1.25rem] px-3 outline-none;
  }

  .form input::placeholder {
    @apply text-[#8C8C8C];
  }

  .button-div {
    @apply col-span-2 flex justify-center mt-4;
  }

  .button-div input {
    @apply px-5 bg-[#7862F8];
  }

  .button-div input:hover {
    @apply cursor-pointer bg-[#8873FF];
  }

  .navbar nav.active {
    @apply font-bold border-b-2 border-solid border-black;
  }

  .existing-data {
    @apply w-[33rem] bg-[#D9D9D9] text-[1rem] mx-auto mt-[1.5rem] rounded-[1rem] flex flex-col items-center gap-2 py-2 px-4;
  }

  .existing-data div {
    @apply w-full grid grid-cols-[1fr,0.5fr] justify-center items-center;
  }

  .existing-data div p {
    @apply text-center;
  }

  .existing-data div button {
    @apply text-red-700;
  }

  .form span {
    @apply flex items-center;
  }

  .form span .input-with-btn {
    @apply w-[80%] rounded-r-none;
  }

  .form span button {
    @apply text-[2rem] w-[20%] bg-blue-500 rounded-[0.625rem] rounded-l-none;
  }

  .descriptions {
    @apply col-span-2 px-5;
  }

  .descriptions li {
    @apply max-w-[22rem] break-words;
  }

  .descriptions button {
    @apply text-red-200;
  }
}
